div(class="thread-item" id="threadItem-"+thread.id)
    hr
    if (thread.fileInfo && thread.fileInfo !== '')
        - h = thread.fileInfo.dims ? thread.fileInfo.dims.height : 0
        - w = thread.fileInfo.dims ? thread.fileInfo.dims.width : 0

        - originUrl = `https://78Station.org/files/${board}/${thread.fileInfo.name}`
        div(class="thread-file-info" id="fileInfo") !{`<span class="btnVisibility"><img src="/pub/btn_hide.png" class="mb-1 pointer-effect"/></span>`} File: !{`<a class="item-hover" href="/files/${board}/${thread.fileInfo.name}">${thread.fileInfo.name}</a>`} (#{thread.fileInfo.size} #{w} x #{h}px) Search: !{`<a target="_blank" class="item-hover" href="//www.google.com/searchbyimage?image_url=${originUrl}">Google</a>`} / !{`<a target="_blank" class="item-hover" href="//iqdb.org/?url=${originUrl}">IQDB</a>`} / !{`<a target="_blank" class="item-hover" href="//saucenao.com/search.php?url=${originUrl}"> SauceNao </a>`}

    div(class="wrap-content")
        if (thread.fileInfo && thread.fileInfo !== '')
            div(class="fix-img")
                div(class="d-flex justify-content-center")
                    img(class="img-fit" src=`/files/${board}/${thread.fileInfo.name}`) 

        div(class="thread-content")
            small(class="thread-header" data-id=(thread.id)) !{`<span class="quote font-weight-bold">${thread.title}</span>`} (OP) !{`<span class="iv-quote">${thread.username}</span>`} · #{thread.date} · No. #{thread.id}
            pre !{thread.content}

        if (replies)
            div(class="small-reply-container")
                each reply in replies
                    include ./itemReply.pug