div(class=`reply-item ${reply.self ? 'reply-box-theme-self' : 'reply-box-theme'}` id="reply-"+reply.id data-id=(reply.id))
    if (reply.fileInfo && reply.fileInfo !== '')
        - h = reply.fileInfo.dims ? reply.fileInfo.dims.height : 0
        - w = reply.fileInfo.dims ? reply.fileInfo.dims.width : 0

        - originUrl = `https://78Station.org/files/${board}/${reply.fileInfo.name}`

        div(class="d-flex")
            input(type="checkbox" class="del-value mr-1 mt-1" value=`${reply.id}` data-type="reply")
            div(class="reply-file-info" id="fileInfo") File: !{`<a class="item-hover" href="/files/${board}/${reply.fileInfo.name}">${reply.fileInfo.name}</a>`} (#{reply.fileInfo.size} #{w} x #{h}px) Search: !{`<a target="_blank" class="item-hover" href="//www.google.com/searchbyimage?image_url=${originUrl}">Google</a>`} / !{`<a target="_blank" class="item-hover" href="//iqdb.org/?url=${originUrl}">IQDB</a>`} / !{`<a target="_blank" class="item-hover" href="//saucenao.com/search.php?url=${originUrl}"> SauceNao </a>`}

        div(class="fix-img")
            div(class="d-flex justify-content-center")
                - fileUrl = `/files/${board}/${reply.fileInfo.name}`
                - type = reply.fileInfo.mime.split('/')[0]

                if (type === 'video')
                    video(controls="" class="video-fit")
                        source(src=(fileUrl))

                else if (type === 'audio')
                    audio(controls="" class="audio-fit")
                        source(src=(fileUrl))

                else 
                    img(onClick=('openModal(this)') class="img-fit" src=(fileUrl) data-href=(fileUrl) data-date=(reply.date) data-filename=(reply.fileInfo.name) data-size=(reply.fileInfo.size) date-width=(reply.fileInfo.width) data-height=(reply.fileInfo.height) data-id=(reply.id)) 

    
    //-if (!reply.fileInfo || reply.fileInfo === '')
        input(type="checkbox" class="del-value mr-1 mt-1" value=`${reply.id}` data-type="reply")

    span(class="color-secondary-dark") !{`<span class="font-weight-bold color-secondary">${reply.username}</span>`} · #{reply.date} · R. #{reply.id}
    pre(class="thread-content") !{reply.content}